---
import Until from '../components/DaysUntil.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ile do Wakacji</title>
	</head>
	<body>
		<main class="flex flex-col mt-8 align-middle justify-center">

			<h1 class="text-4xl text-center font-bold">Ile do końca roku szkolnego</h1>
			<p class="text-center"> wg. planu lekcji 2k z L LO w Warszawie</p>
	
			<div class="flex justify-center py-4">
	
				<div class="px-20 py-10 text-center">
					<span class="text-2xl font-bold font-mono">
						<span id="h0">0</span> dnia
					</span> <br />
					do końca roku szkolnego
				</div>
	
				<div class="px-20 py-10 text-center">
					<span class="text-2xl font-bold">
						<Until id="h1" days={[1, 2, 3, 4, 5]} to={new Date("2023-06-22")} /> dni r.
					</span> <br />
					do końca roku szkolnego
				</div>
	
				<div class="px-20 py-10 text-center">
					<span class="text-2xl font-bold">
						<Until id="h2" days={[1, 2, 3, 4, 5]} to={new Date("2023-06-09")} /> dni r.
					</span> <br />
					do wystawienia ocen
				</div>
	
			</div>
	
			<table class="w-fit mx-auto text-lg">
				<caption class="caption-bottom text-sm my-5">
					dni.r - Dni w które trzeba przyjść do szkoły <br />
					Format Grupa 1 / Grupa 2; przypuszczana data wystawienia ocen 09/06/2023
				</caption>
	
				<thead>
					<tr>
						<th class="px-12 py-4">Przedmiot</th>
						<th class="px-8  py-4">Do wystawienia ocen</th>
						<th class="px-8  py-4">Do końca roku</th>
					</tr>
				</thead>
	
				<!-- nie -->
				<tbody>
					<tr>
						<td>Język Polski</td>
						<td> <Until id="po1" days={[3, 4, 4, 5]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk1" days={[3, 4, 4, 5]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Matematyka</td>
						<td> <Until id="po2" days={[1,2,2,3,3,5]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk2" days={[1,2,2,3,3,5]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Język Angielski</td>
						<td> <Until id="po3" days={[2,2,5]} to={new Date("2023-06-09")} /> / <Until id="po3B" days={[2,4,4]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk3" days={[2,2,5]} to={new Date("2023-06-22")} /> / <Until id="pk3B" days={[2,4,4]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Fizyka</td>
						<td> <Until id="po4" days={[1,2,2]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk4" days={[1,2,2]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Informatyka</td>
						<td> <Until id="po5" days={[1,4]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk5" days={[1,4]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Język Niemiecki</td>
						<td> <Until id="po7" days={[1,1]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk7" days={[1,1]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Język Rosyjski</td>
						<td> <Until id="poD" days={[3,3]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pkD" days={[3,3]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Język Portugalski</td>
						<td> <Until id="poE" days={[3,3]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pkE" days={[3,3]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Chemia</td>
						<td> <Until id="po6" days={[2,5]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk6" days={[2,5]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Biologia</td>
						<td> <Until id="po8" days={[3,5]} to={new Date("2023-06-09")} /> / <Until id="po8B" days={[3,3]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk8" days={[3,5]} to={new Date("2023-06-22")} /> / <Until id="pk8B" days={[3,3]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Geografia</td>
						<td> <Until id="po9" days={[2,4]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pk9" days={[2,4]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Historia</td>
						<td> <Until id="poA" days={[3,5]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pkA" days={[3,5]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Wiedza o Społeczeństwie</td>
						<td> <Until id="poB" days={[5]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pkB" days={[5]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Podstawy Przedsiębiorczości</td>
						<td> <Until id="poC" days={[4]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pkC" days={[4]} to={new Date("2023-06-22")} /> </td>
					</tr>
					<tr>
						<td>Wychowanie Fizyczne</td>
						<td> <Until id="poF" days={[2,4,4]} to={new Date("2023-06-09")} /> / <Until id="poFB" days={[2,4,5]} to={new Date("2023-06-09")} /> </td>
						<td> <Until id="pkF" days={[2,4,4]} to={new Date("2023-06-22")} /> / <Until id="pkFB" days={[2,4,5]} to={new Date("2023-06-22")} /> </td>
					</tr>
				</tbody>
			</table>
	
		</main>
	</body>
</html>

<script>
	function daysUntilDate(targetDate) {
		const oneDayInMilliseconds = 1000 * 60 * 60 * 24;
		const currentDate = new Date();
		const timeDiffInMilliseconds = targetDate.getTime() - currentDate.getTime();
		const daysUntil = timeDiffInMilliseconds / oneDayInMilliseconds;
		return daysUntil.toFixed(7);
	}

	const h0 = document.getElementById("h0");
	
	h0.innerText = daysUntilDate( new Date("2023-06-22"));
	setInterval(e => {
		h0.innerText = daysUntilDate( new Date("2023-06-22") );
	}, 10)

</script>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>