---
import settings from '../settings';
import countWorkDaysUntilDate, { getDatesBetween } from "../dates";
import Holidays from 'date-holidays'

let hd = new Holidays('PL').getHolidays().map(e => e.date)

const holidays = [
	...hd.map(e => new Date(e)),
	...settings.freeDays.map(e => new Date(e)),
	...getDatesBetween(
		settings.winterBreak.from,
		settings.winterBreak.to
	),
	...getDatesBetween(
		settings.summerBreak.from,
		settings.summerBreak.to
	),
	...getDatesBetween(
		settings.christmasBreak.from,
		settings.christmasBreak.to
	),
]


export interface Props {
	id: string,
	days: number[]
    to: Date
}

const { id, to, days } = Astro.props;

const countDays = countWorkDaysUntilDate( holidays, days, new Date(to) ).toString();
---

<span id={id}>0</span>

<script define:vars={{id, countDays}}>

	const countElement = document.getElementById(id);
	countElement.innerHTML = countDays;

</script>